# Maven #
target/

# IDEA #
.idea/
.idea/**/*.xml
*.iml

# Eclipse #
.settings/
.classpath
.project
node_modules
pnpm-lock.yaml
.DS_Store
/elec——error
/elec copy
/elec2/dist
dist
*.xlsx
/musit-app/out
musit-app/package-lock.json
/clone/cloned/*
