#jd-plugin-nav {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#nav-buttons {
  font-size: 12px;
  padding-right: 10px;
}

.nav-btn {
  height: 30px; /* 确保按钮高度适应40px的导航条 */
  padding: 0 15px;
  margin: 0;
  cursor: pointer;
  border: none;
  background-color: #007aff;
  color: white;
  border-radius: 4px;
}

.nav-btn:hover {
  background-color: #005bb5;
}

#popup {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
