#xhr-float-window {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 350px;
    max-height: 400px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.75);
    color: #00ff99;
    font-size: 12px;
    padding: 10px;
    z-index: 999999;
    border-radius: 8px;
    box-shadow: 0 0 10px #000;
    font-family: monospace;
  }
  
  .xhr-item {
    margin-bottom: 6px;
    border-bottom: 1px dashed #444;
    padding-bottom: 3px;
  }