#xhr-float-window {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 400px;
    max-height: 500px;
    overflow-y: auto;
    background: rgba(0, 0, 0, 0.8);
    color: #00ffcc;
    font-size: 12px;
    padding: 8px;
    z-index: 9999999;
    border-radius: 6px;
    box-shadow: 0 0 10px #000;
    font-family: monospace;
  }
  
  .xhr-item {
    border-bottom: 1px dashed #444;
    margin-bottom: 6px;
    padding-bottom: 6px;
    word-break: break-all;
  }
  
  .xhr-item details {
    margin-top: 4px;
    white-space: pre-wrap;
    color: #ccc;
  }